@import '../../../assets/styles/variables';

:host {
  header {
    background-color: $primary_color;

    .navbar {
      width: 100%;
    }

    .navbar-brand {
      img {
        max-width: 160px;
      }
    }
  }
}
