<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-4 mb-4">
      <h2>Histórico de indicadores financieros</h2>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="isLoading">
      <div class="col-sm-12 mt-4 mb-4">
        <app-spinner></app-spinner>
      </div>
    </ng-container>
    <ng-container *ngIf="!isLoading">
      <div class="col-sm-12">
        <h1 class="mt-4 mb-3">{{ indicator?.nombre }}</h1>
        <div class="heading">
          <div class="heading__date">Fecha</div>
          <div class="heading__code">Código</div>
          <div class="heading__name">Nombre</div>
          <div class="heading__value">Valor</div>
        </div>
      </div>
      <div class="col-sm-12" *ngFor="let serie of series">
        <app-indicator-item [indicator]="serie" type="historic"></app-indicator-item>
      </div>
    </ng-container>
  </div>
</div>
